*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-img {
    
    background-image: url('./img/key.jpg'); 
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Add the overlay */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-overlay {
    /* Black background with transparency */
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 400px;

    /* Center the overlay */
    display: flex;
    justify-content: center;
}

.login-form{
    width: 100%;
    height: 100%;
}

.contentT{
    color: white;
    padding: 10px;

}
.btn-primary{
    width: 100%;
}
