body{
    background-image: url('img/key.jpg');
    background-attachment:fixed ; 
     background-size: cover;
}
.firstname,.lastname,.email,.password,.text{
    display:block;
    margin-bottom: 30px;
}
.word{
    display:inline;
}
.continue-button{
     background-color: rgba(172, 255, 47, 0.859);
    font-weight:bold;
    color: black;
    Display:block;
    length:200px;
    width:100px;
    margin-top: 40px;
    position: relative;
}
a {
    color: whitesmoke;
}
a:hover{
    color: rgb(236, 236, 236);
}


.bg-imgs {
    /* The image used */
   /* background-image: url('img/key.jpg'); /* Update the path to your image */

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Add the overlay */
    position: relative;
}

.bg-overlays {
    /* Black background with transparency */
    background-color: rgba(0, 0, 0, 0.5);

    /* Full height */
    height: 100%;

    /* Center the overlay */
    display: flex;
    justify-content: center;
}
.contentTs {
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}